



<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Evara Dashboard</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="imgs/theme/favicon.svg">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <!-- Include SweetAlert CSS and JS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <!-- Template CSS -->
    <link href="/css2/main.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="screen-overlay"></div>
    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <a href="index.html" class="brand-wrap">
                <img src="imgs/theme/logo.svg" class="logo" alt="Evara Dashboard">
            </a>
            <div>
                <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i> </button>
            </div>
        </div>
        <nav>
            <ul class="menu-aside">
                <li class="menu-item">
                    <a class="menu-link" href="index.html"> <i class="icon material-icons md-home"></i>
                        <span class="text">Dashboard</span>
                    </a>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="page-products-list.html"> <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">Products</span>
                    </a>
                    <div class="submenu">
                        <a href="page-products-list.html">Product List</a>
                        <a href="page-products-grid.html">Product grid</a>
                        <a href="page-products-grid-2.html">Product grid 2</a>
                        <a href="page-categories.html">Categories</a>
                    </div>
                </li>
                <li class="menu-item has-submenu active">
                    <a class="menu-link" href="page-orders-1.html"> <i class="icon material-icons md-shopping_cart"></i>
                        <span class="text">Orders</span>
                    </a>
                    <div class="submenu">
                        <a href="page-orders-1.html" class="active">Order list 1</a>
                        <a href="page-orders-2.html">Order list 2</a>
                        <a href="page-orders-detail.html">Order detail</a>
                        <a href="page-orders-tracking.html">Order tracking</a>
<a href="page-invoice.html">Invoice</a>
                    </div>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="page-sellers-cards.html"> <i class="icon material-icons md-store"></i>
                        <span class="text">Sellers</span>
                    </a>
                    <div class="submenu">
                        <a href="page-sellers-cards.html">Sellers cards</a>
                        <a href="page-sellers-list.html">Sellers list</a>
                        <a href="page-seller-detail.html">Seller profile</a>
                    </div>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="page-form-product-1.html"> <i class="icon material-icons md-add_box"></i>
                        <span class="text">Add product</span>
                    </a>
                    <div class="submenu">
                        <a href="page-form-product-1.html">Add product 1</a>
                        <a href="page-form-product-2.html">Add product 2</a>
                        <a href="page-form-product-3.html">Add product 3</a>
                        <a href="page-form-product-4.html">Add product 4</a>
                    </div>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="page-transactions-1.html"> <i class="icon material-icons md-monetization_on"></i>
                        <span class="text">Transactions</span>
                    </a>
                    <div class="submenu">
                        <a href="page-transactions-1.html">Transaction 1</a>
                        <a href="page-transactions-2.html">Transaction 2</a>
                        <a href="page-transactions-details.html">Transaction Details</a>
                    </div>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="#"> <i class="icon material-icons md-person"></i>
                        <span class="text">Account</span>
                    </a>
                    <div class="submenu">
                        <a href="page-account-login.html">User login</a>
                        <a href="page-account-register.html">User registration</a>
                        <a href="page-error-404.html">Error 404</a>
                    </div>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="page-reviews.html"> <i class="icon material-icons md-comment"></i>
                        <span class="text">Reviews</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="page-brands.html"> <i class="icon material-icons md-stars"></i>
                        <span class="text">Brands</span> </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" disabled href="#"> <i class="icon material-icons md-pie_chart"></i>
                        <span class="text">Statistics</span>
                    </a>
                </li>
            </ul>
            <hr>
            <ul class="menu-aside">
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="#"> <i class="icon material-icons md-settings"></i>
                        <span class="text">Settings</span>
                    </a>
                    <div class="submenu">
                        <a href="page-settings-1.html">Setting sample 1</a>
                        <a href="page-settings-2.html">Setting sample 2</a>
                    </div>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="page-blank.html"> <i class="icon material-icons md-local_offer"></i>
                        <span class="text"> Starter page </span>
                    </a>
                </li>
            </ul>
            <br>
            <br>
        </nav>
    </aside>
    <main class="main-wrap">
        <header class="main-header navbar">
            <div class="col-search">
                <form class="searchform">
                    <div class="input-group">
                        <input list="search_terms" type="text" class="form-control" placeholder="Search term">
                        <button class="btn btn-light bg" type="button"> <i class="material-icons md-search"></i></button>
                    </div>
                    <datalist id="search_terms">
                        <option value="Products">
                        <option value="New orders">
                        <option value="Apple iphone">
                        <option value="Ahmed Hassan">
                    </datalist>
                </form>
            </div>
            <div class="col-nav">
                <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"> <i class="material-icons md-apps"></i> </button>
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link btn-icon" href="#">
                            <i class="material-icons md-notifications animation-shake"></i>
                            <span class="badge rounded-pill">3</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn-icon darkmode" href="#"> <i class="material-icons md-nights_stay"></i> </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="requestfullscreen nav-link btn-icon"><i class="material-icons md-cast"></i></a>
                    </li>
                    <li class="dropdown nav-item">
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownLanguage" aria-expanded="false"><i class="material-icons md-public"></i></a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownLanguage">
                            <a class="dropdown-item text-brand" href="#"><img src="imgs/theme/flag-us.png" alt="English">English</a>
                            <a class="dropdown-item" href="#"><img src="imgs/theme/flag-fr.png" alt="Français">Français</a>
                            <a class="dropdown-item" href="#"><img src="imgs/theme/flag-jp.png" alt="Français">日本語</a>
                            <a class="dropdown-item" href="#"><img src="imgs/theme/flag-cn.png" alt="Français">中国人</a>
                        </div>
                    </li>
                    <li class="dropdown nav-item">
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount" aria-expanded="false"> <img class="img-xs rounded-circle" src="imgs/people/avatar2.jpg" alt="User"></a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                            <a class="dropdown-item" href="#"><i class="material-icons md-perm_identity"></i>Edit Profile</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-settings"></i>Account Settings</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-account_balance_wallet"></i>Wallet</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-receipt"></i>Billing</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-help_outline"></i>Help center</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item text-danger" href="#"><i class="material-icons md-exit_to_app"></i>Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </header>
        <section class="content-main">
            <div class="content-header">
           
                <div>
                    <input type="text" placeholder="Search order ID" class="form-control bg-white">
                </div>
            </div>
            <div class="card mb-4">
                <header class="card-header">
                    <div class="row gx-3">
                        <div class="col-lg-4 col-md-6 me-auto">
                            <input type="text" placeholder="Search..." class="form-control">
                        </div>
                        <div class="col-lg-2 col-6 col-md-3">
                            <select class="form-select">
                                <option>Status</option>
                                <option>Active</option>
                                <option>Disabled</option>
                                <option>Show all</option>
                            </select>
                        </div>
                        <div class="col-lg-2 col-6 col-md-3">
                            <select class="form-select">
                                <option>Show 20</option>
                                <option>Show 30</option>
                                <option>Show 40</option>
                            </select>
                        </div>
                    </div>
                </header> <!-- card-header end// -->
                <div class="card-body">
                    <div class="table-responsive">
                        
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>#ID</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Total</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Date</th>
                                    
                                    <th scope="col" class="text-end"> Action </th>
                                </tr>
                            </thead>
                            <tbody>
                               
                              
                           
                                <% orders.forEach(order => { %>
                                 
                                <tr>
                                    <td><%= order.orderId %></td>
                                    <td>
                                      <b>
                                        <% const userFullName = (order.Addresschoose === 'addressSet2') ? order.user.CustName : order.user.FullName; %>
                                        <% const Phone = (order.Addresschoose === 'addressSet2') ? order.user.phoneNum : order.user.Phone; %>
                                        <% const Pin = (order.Addresschoose === 'addressSet2') ? order.user.Zipcode : order.user.Pincode; %>
                                        <% const Wallet = order.user.wallet; %>
                                        <% const HouseName = (order.Addresschoose === 'addressSet2') ? order.user.companyName : order.user.HouseName; %>
                                        <%= userFullName %>
                                      </b>
                                    </td>
                                    
                                    <td><%= order.user.email %></td>
                                    <td>₹<%= order.totalPrice %></td>
                                    <td>
                                      <span class="badge rounded-pill 
                                        <% if (order.status === 'approved') { %>alert-warning<% } %>
                                        <% if (order.status === 'shipped') { %>alert-primary<% } %>
                                        <% if (order.status === 'delivered') { %>alert-secondary<% } %>
                                        <% if (order.status === 'packed') { %>alert-success<% } %>
                                        <% if (order.status === 'canceled' || order.status === 'returned') { %>alert-danger<% } %>
                                        <% if (order.paymentMethod === 'razorpay' && order.paid === false) { %>alert-danger<% } %>
                                        <% if (order.paymentMethod === 'razorpay' && order.paid === true) { %>alert-success<% } %>
                                        alert-info"> <!-- Default is pending -->
                                        
                                        <% if (order.paymentMethod === 'razorpay' && order.paid === false) { %>Failed<% } else { %><%= order.status %><% } %>
                                      </span>
                                    </td>
                                    
                                    
                                    <td>   <% const orderDate = new Date(order.orderDate); %>
                                      <%= orderDate.toLocaleString('en-US', {
                                        timeZone: 'Asia/Kolkata',
                                        month: 'long',
                                        day: 'numeric',
                                        weekday: 'long',
                                        hour: '2-digit',
                                        minute: '2-digit',
                                      }) %></td>
                                <td class="text-end">
                                  
                                  <a href="#" id="detailButton"  class="btn btn-md rounded font-sm" onclick="showOrderDetails('<%= order.paymentMethod %>', '<%= order.orderId %>',' <%= userFullName %>','<%= Phone %>','<%= Pin %>','<%= Wallet %>','<%= HouseName%>','<%= order.paid %>')">Detail</a>



                                </td>
                                    
                                    <td>
                                        <div class="horizontal-group" style="height: 20px">
                                          <select name="newStatus" id="newStatus_<%= order._id %>" class="form-select" style="margin-top: 10px; margin-right: 10px; border: 1px solid rgb(28, 29, 62, 0.5);">
                                            <option value="pending" <%= (order.status==='pending') ? 'selected' : '' %>>Pending</option>
                                            <option value="approved" <%= (order.status==='approved') ? 'selected' : '' %>>Approved</option>
                                            <option value="shipped" <%= (order.status==='shipped') ? 'selected' : '' %>>Shipped</option>
                                            <option value="delivered" <%= (order.status==='delivered') ? 'selected' : '' %>>Delivered</option>
                                            <option value="canceled" <%= (order.status==='canceled') ? 'selected' : '' %>>Canceled</option>
                                            <option value="returned" <%= (order.status==='returned') ? 'selected' : '' %>>Returned</option>
                                            <option value="packed" <%= (order.status==='packed') ? 'selected' : '' %>>Packed</option>
                                          </select>
                                          <button type="button" onclick="updateOrderStatus('<%= order._id %>')" class="btn btn-primary" style="height: 50px; margin-top: 10px;" id="updateButton">Update</button>
                                        </div>
                                      
                                    
                                    
                                   
                                      
                                      
                                    </td>
                                </tr>
                              
             
                                <% }); %>
                              
                             
                            </tbody>
                            
                             
                            
                        </table>
                        <div>
                            <% if (currentPage > 1) { %>
                              <a href="?page=<%= currentPage - 1 %>">Previous</a>
                            <% } %>
                          
                            <% for (let i = 1; i <= totalPages; i++) { %>
                              <a href="?page=<%= i %>" <%= i === currentPage ? 'class="active"' : '' %>><%= i %></a>
                            <% } %>
                          
                            <% if (currentPage < totalPages) { %>
                              <a href="?page=<%= currentPage + 1 %>">Next</a>
                            <% } %>
                          </div>
                        <a href="/ordersadmin/returnOrders">View Return Orders</a>
                    </div> <!-- table-responsive //end -->
                </div> <!-- card-body end// -->
            </div> <!-- card end// -->
            <div class="pagination-area mt-15 mb-50">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-start">
                        <li class="page-item active"><a class="page-link" href="#">01</a></li>
                        <li class="page-item"><a class="page-link" href="#">02</a></li>
                        <li class="page-item"><a class="page-link" href="#">03</a></li>
                        <li class="page-item"><a class="page-link dot" href="#">...</a></li>
                        <li class="page-item"><a class="page-link" href="#">16</a></li>
                        <li class="page-item"><a class="page-link" href="#"><i class="material-icons md-chevron_right"></i></a></li>
                    </ul>
                </nav>
            </div>
        </section> <!-- content-main end// -->
        <footer class="main-footer font-xs">
            <div class="row pb-30 pt-15">
                <div class="col-sm-6">
                    <script>
                    document.write(new Date().getFullYear())
                    </script> ©, Evara - HTML Ecommerce Template .
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end">
                        All rights reserved
                    </div>
                </div>
            </div>
        </footer>
    </main>
    
    <style>
      
.status-update-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.horizontal-group {
  display: flex;

}

/* Optional: Center the items vertically */
label, .horizontal-group {
  align-items: center;
}

/* Add more styles as needed */

    </style>
<script>
function showOrderDetails(pay, orderid,fullName,phone,pin,wallet,productnames,paid) {
  // Retrieve and display order details using SweetAlert

  
  let PaymentStatus = pay === 'razorpay' && paid === "false" ?"not Paid":"paid"
  PaymentStatus = pay === 'cod' ? '' :PaymentStatus 
  Swal.fire({
  title: 'Order Details',
  html: `
    <p><strong>OrderId:</strong>${orderid}</p>
    <p><strong>Fullname:</strong>${fullName}</p>
    <p><strong>Mode of Payment:</strong>${pay}</p>
    <p><strong>Phone:</strong>${phone}</p>
    <p><strong>Wallet Balance:</strong>₹ ${wallet}</p>
    <p><strong>Pin:</strong>${pin}</p>
    <p><strong>Housename:</strong>${productnames}</p>
    <p><strong>Payment status : </strong>${PaymentStatus}`,
  icon: 'info',
  confirmButtonText: 'Close',
});



}


  </script>
  <script>
    function updateOrderStatus(order) {
      const newStatus = document.getElementById('newStatus_'+order).value;
      alert(newStatus)
  
      fetch(`/ordersadmin/status`, {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({ newStatus,order }),
      })
        .then(response => {
          if (response.ok) {
            return response.json();
          }
          throw new Error(`Failed to update status: ${response.statusText}`);
        })
        .then(data => {
          Swal.fire('Status Updated Successfully', '', 'success');
        })
        .catch(error => {
          console.error(error);
          Swal.fire('Failed to update status', '', 'error');
        }); 
    }
  
    document.getElementById('updateButton').addEventListener('click', updateOrderStatus);
  </script>
    <script src="/js2/vendors/jquery-3.6.0.min.js"></script>
    <script src="/js2/vendors/bootstrap.bundle.min.js"></script>
    <script src="/js2/vendors/select2.min.js"></script>
    <script src="/js2/vendors/perfect-scrollbar.js"></script>
    <script src="/js2/vendors/jquery.fullscreen.min.js"></script>
    <!-- Main Script -->
    <script src="/js2/main.js" type="text/javascript"></script>
    <script>
      





    </script>
</body>

</html>






<!-- Assuming orders is an array of orders with product field as an array of objects -->

