




<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <title>Evara - eCommerce HTML Template</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="imgs/theme/favicon.svg">
    <!-- Add SweetAlert CSS and JS -->

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="path_to/sweetalert2.js"></script>

    <!-- Template CSS -->
    <link rel="stylesheet" href="/css/main.css?v=3.4">
</head>

<body>
    <header class="header-area header-style-1 header-height-2">
       
        </div>
        <div class="header-middle header-middle-ptb-1 d-none d-lg-block">
            <div class="container">
                <div class="header-wrap">
                    <div class="logo logo-width-1">
                        <a href="index.html"><img src="/imgs/logo.png" alt="logo"></a>
                    </div>
                    <div class="header-right">
                        <div class="search-style-2">
                         
                        </div>
                        <div class="header-action-right">
                            <div class="header-action-2">
                                <div class="header-action-icon-2">
                                    <a href="shop-wishlist.html">
                                        <img class="svgInject" alt="Evara" src="imgs/theme/icons/icon-heart.svg">
                                        <span class="pro-count blue">4</span>
                                    </a>
                                </div>
                                <div class="header-action-icon-2">
                                    <a class="mini-cart-icon" href="shop-cart.html">
                                        <img alt="Evara" src="imgs/theme/icons/icon-cart.svg">
                                        <span class="pro-count blue">2</span>
                                    </a>
                                    <div class="cart-dropdown-wrap cart-dropdown-hm2">
                                        <ul>
                                            <li>
                                                <div class="shopping-cart-img">
                                                    <a href="shop-product-right.html"><img alt="Evara" src="imgs/shop/thumbnail-3.jpg"></a>
                                                </div>
                                                <div class="shopping-cart-title">
                                                    <h4><a href="shop-product-right.html">Daisy Casual Bag</a></h4>
                                                    <h4><span>1 × </span>$800.00</h4>
                                                </div>
                                                <div class="shopping-cart-delete">
                                                    <a href="#"><i class="fi-rs-cross-small"></i></a>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="shopping-cart-img">
                                                    <a href="shop-product-right.html"><img alt="Evara" src="imgs/shop/thumbnail-2.jpg"></a>
                                                </div>
                                                <div class="shopping-cart-title">
                                                    <h4><a href="shop-product-right.html">Corduroy Shirts</a></h4>
                                                    <h4><span>1 × </span>$3200.00</h4>
                                                </div>
                                                <div class="shopping-cart-delete">
                                                    <a href="#"><i class="fi-rs-cross-small"></i></a>
                                                </div>
                                            </li>
                                        </ul>
                                        <div class="shopping-cart-footer">
                                            <div class="shopping-cart-total">
                                                <h4>Total <span>$4000.00</span></h4>
                                            </div>
                                            <div class="shopping-cart-button">
                                                <a href="shop-cart.html" class="outline">View cart</a>
                                                <a href="shop-checkout.html">Checkout</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-bottom header-bottom-bg-color sticky-bar">
            <div class="container">
                <div class="header-wrap header-space-between position-relative">
                    <div class="logo logo-width-1 d-block d-lg-none">
                        <a href="index.html"><img src="imgs/theme/logo.svg" alt="logo"></a>
                    </div>
                    <div class="header-nav d-none d-lg-flex">
                        <div class="main-categori-wrap d-none d-lg-block">
                            <a class="categori-button-active" href="#">
                                <span class="fi-rs-apps"></span> Browse Categories
                            </a>
                            <div class="categori-dropdown-wrap categori-dropdown-active-large">
                                <ul>
                                    <li class="has-children">
                                        <a href="shop-grid-right.html"><i class="evara-font-dress"></i>Women's Clothing</a>
                                        <div class="dropdown-menu">
                                            <ul class="mega-menu d-lg-flex">
                                                <li class="mega-menu-col col-lg-7">
                                                    <ul class="d-lg-flex">
                                                        <li class="mega-menu-col col-lg-6">
                                                            <ul>
                                                                <li><span class="submenu-title">Hot & Trending</span></li>
                                                                <li><a class="dropdown-item nav-link nav_item" href="#">Dresses</a></li>
                                                                <li><a class="dropdown-item nav-link nav_item" href="#">Blouses & Shirts</a></li>
                                                                <li><a class="dropdown-item nav-link nav_item" href="#">Hoodies & Sweatshirts</a></li>
                                                                <li><a class="dropdown-item nav-link nav_item" href="#">Women's Sets</a></li>
                                                                <li><a class="dropdown-item nav-link nav_item" href="#">Suits & Blazers</a></li>
                                                                <li><a class="dropdown-item nav-link nav_item" href="#">Bodysuits</a></li>
                                                                <li><a class="dropdown-item nav-link nav_item" href="#">Tanks & Camis</a></li>
                                                                <li><a class="dropdown-item nav-link nav_item" href="#">Coats & Jackets</a></li>
                                                            </ul>
                                                        </li>
                                                        <li class="mega-menu-col col-lg-6">
                                                            <ul>
                                                                <li><span class="submenu-title">Bottoms</span></li>
                                                                <li><a class="dropdown-item nav-link nav_item" href="#">Leggings</a></li>
                                                                <li><a class="dropdown-item nav-link nav_item" href="#">Skirts</a></li>
                                                                <li><a class="dropdown-item nav-link nav_item" href="#">Shorts</a></li>
                                                                <li><a class="dropdown-item nav-link nav_item" href="#">Jeans</a></li>
                                                                <li><a class="dropdown-item nav-link nav_item" href="#">Pants & Capris</a></li>
                                                                <li><a class="dropdown-item nav-link nav_item" href="#">Bikini Sets</a></li>
                                                                <li><a class="dropdown-item nav-link nav_item" href="#">Cover-Ups</a></li>
                                                                <li><a class="dropdown-item nav-link nav_item" href="#">Swimwear</a></li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li class="mega-menu-col col-lg-5">
                                                    <div class="header-banner2">
                                                        <img src="imgs/banner/menu-banner-2.jpg" alt="menu_banner1">
                                                        <div class="banne_info">
                                                            <h6>10% Off</h6>
                                                            <h4>New Arrival</h4>
                                                            <a href="#">Shop now</a>
                                                        </div>
                                                    </div>
                                                    <div class="header-banner2">
                                                        <img src="imgs/banner/menu-banner-3.jpg" alt="menu_banner2">
                                                        <div class="banne_info">
                                                            <h6>15% Off</h6>
                                                            <h4>Hot Deals</h4>
                                                            <a href="#">Shop now</a>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="has-children">
                                        <a href="shop-grid-right.html"><i class="evara-font-tshirt"></i>Men's Clothing</a>
                                        <div class="dropdown-menu">
                                            <ul class="mega-menu d-lg-flex">
                                                <li class="mega-menu-col col-lg-7">
                                                    <ul class="d-lg-flex">
                                                        <li class="mega-menu-col col-lg-6">
                                                            <ul>
                                                                <li><span class="submenu-title">Jackets & Coats</span></li>
                                                                <li><a class="dropdown-item nav-link nav_item" href="#">Down Jackets</a></li>
                                                                <li><a class="dropdown-item nav-link nav_item" href="#">Jackets</a></li>
                                                                <li><a class="dropdown-item nav-link nav_item" href="#">Parkas</a></li>
                                                                <li><a class="dropdown-item nav-link nav_item" href="#">Faux Leather Coats</a></li>
                                                                <li><a class="dropdown-item nav-link nav_item" href="#">Trench</a></li>
                                                                <li><a class="dropdown-item nav-link nav_item" href="#">Wool & Blends</a></li>
                                                                <li><a class="dropdown-item nav-link nav_item" href="#">Vests & Waistcoats</a></li>
                                                                <li><a class="dropdown-item nav-link nav_item" href="#">Leather Coats</a></li>
                                                            </ul>
                                                        </li>
                                                        <li class="mega-menu-col col-lg-6">
                                                            <ul>
                                                                <li><span class="submenu-title">Suits & Blazers</span></li>
                                                                <li><a class="dropdown-item nav-link nav_item" href="#">Blazers</a></li>
                                                                <li><a class="dropdown-item nav-link nav_item" href="#">Suit Jackets</a></li>
                                                                <li><a class="dropdown-item nav-link nav_item" href="#">Suit Pants</a></li>
                                                                <li><a class="dropdown-item nav-link nav_item" href="#">Suits</a></li>
                                                                <li><a class="dropdown-item nav-link nav_item" href="#">Vests</a></li>
                                                                <li><a class="dropdown-item nav-link nav_item" href="#">Tailor-made Suits</a></li>
                                                                <li><a class="dropdown-item nav-link nav_item" href="#">Cover-Ups</a></li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li class="mega-menu-col col-lg-5">
                                                    <div class="header-banner2">
                                                        <img src="imgs/banner/menu-banner-4.jpg" alt="menu_banner1">
                                                        <div class="banne_info">
                                                            <h6>10% Off</h6>
                                                            <h4>New Arrival</h4>
                                                            <a href="#">Shop now</a>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="has-children">
                                        <a href="shop-grid-right.html"><i class="evara-font-smartphone"></i> Cellphones</a>
                                        <div class="dropdown-menu">
                                            <ul class="mega-menu d-lg-flex">
                                                <li class="mega-menu-col col-lg-7">
                                                    <ul class="d-lg-flex">
                                                        <li class="mega-menu-col col-lg-6">
                                                            <ul>
                                                                <li><span class="submenu-title">Hot & Trending</span></li>
                                                                <li><a class="dropdown-item nav-link nav_item" href="#">Cellphones</a></li>
                                                                <li><a class="dropdown-item nav-link nav_item" href="#">iPhones</a></li>
                                                                <li><a class="dropdown-item nav-link nav_item" href="#">Refurbished Phones</a></li>
                                                                <li><a class="dropdown-item nav-link nav_item" href="#">Mobile Phone</a></li>
                                                                <li><a class="dropdown-item nav-link nav_item" href="#">Mobile Phone Parts</a></li>
                                                                <li><a class="dropdown-item nav-link nav_item" href="#">Phone Bags & Cases</a></li>
                                                                <li><a class="dropdown-item nav-link nav_item" href="#">Communication Equipments</a></li>
                                                                <li><a class="dropdown-item nav-link nav_item" href="#">Walkie Talkie</a></li>
                                                            </ul>
                                                        </li>
                                                        <li class="mega-menu-col col-lg-6">
                                                            <ul>
                                                                <li><span class="submenu-title">Accessories</span></li>
                                                                <li><a class="dropdown-item nav-link nav_item" href="#">Screen Protectors</a></li>
                                                                <li><a class="dropdown-item nav-link nav_item" href="#">Wire Chargers</a></li>
                                                                <li><a class="dropdown-item nav-link nav_item" href="#">Wireless Chargers</a></li>
                                                                <li><a class="dropdown-item nav-link nav_item" href="#">Car Chargers</a></li>
                                                                <li><a class="dropdown-item nav-link nav_item" href="#">Power Bank</a></li>
                                                                <li><a class="dropdown-item nav-link nav_item" href="#">Armbands</a></li>
                                                                <li><a class="dropdown-item nav-link nav_item" href="#">Dust Plug</a></li>
                                                                <li><a class="dropdown-item nav-link nav_item" href="#">Signal Boosters</a></li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li class="mega-menu-col col-lg-5">
                                                    <div class="header-banner2">
                                                        <img src="imgs/banner/menu-banner-5.jpg" alt="menu_banner1">
                                                        <div class="banne_info">
                                                            <h6>10% Off</h6>
                                                            <h4>New Arrival</h4>
                                                            <a href="#">Shop now</a>
                                                        </div>
                                                    </div>
                                                    <div class="header-banner2">
                                                        <img src="imgs/banner/menu-banner-6.jpg" alt="menu_banner2">
                                                        <div class="banne_info">
                                                            <h6>15% Off</h6>
                                                            <h4>Hot Deals</h4>
                                                            <a href="#">Shop now</a>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li><a href="shop-grid-right.html"><i class="evara-font-desktop"></i>Computer & Office</a></li>
                                    <li><a href="shop-grid-right.html"><i class="evara-font-cpu"></i>Consumer Electronics</a></li>
                                    <li><a href="shop-grid-right.html"><i class="evara-font-diamond"></i>Jewelry & Accessories</a></li>
                                    <li><a href="shop-grid-right.html"><i class="evara-font-home"></i>Home & Garden</a></li>
                                    <li><a href="shop-grid-right.html"><i class="evara-font-high-heels"></i>Shoes</a></li>
                                    <li><a href="shop-grid-right.html"><i class="evara-font-teddy-bear"></i>Mother & Kids</a></li>
                                    <li><a href="shop-grid-right.html"><i class="evara-font-kite"></i>Outdoor fun</a></li>
                                    <li>
                                        <ul class="more_slide_open" style="display: none;">
                                            <li><a href="shop-grid-right.html"><i class="evara-font-desktop"></i>Beauty, Health</a></li>
                                            <li><a href="shop-grid-right.html"><i class="evara-font-cpu"></i>Bags and Shoes</a></li>
                                            <li><a href="shop-grid-right.html"><i class="evara-font-diamond"></i>Consumer Electronics</a></li>
                                            <li><a href="shop-grid-right.html"><i class="evara-font-home"></i>Automobiles & Motorcycles</a></li>
                                        </ul>
                                    </li>
                                </ul>
                                <div class="more_categories">Show more...</div>
                            </div>
                        </div>
                        <div class="main-menu main-menu-padding-1 main-menu-lh-2 d-none d-lg-block">
                            <nav>
                                <ul>
                                    <li><a class="active" href="/mainpage">Home </a>
                                       
                                    </li>
                                 
                                    <li><a href="/">Shop</a>
                                      
                                    </li>
                                    <li class="position-static"><a href="/userOrders">Orders</a>
                                        
                                    </li>
                                    <li><a href="/profile">Profile</a>
                                      
                                    </li>
                                    <li><a href="/cart">Cart <i class="fi-rs-angle-down"></i></a>
                                        
                                    </li>
                                    <li>
                                        <a href="page-contact.html">Contact</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="hotline d-none d-lg-block">
                        <p><i class="fi-rs-headset"></i><span>Hotline</span> 1900 - 888 </p>
                    </div>
                    <p class="mobile-promotion">Happy <span class="text-brand">Mother's Day</span>. Big Sale Up to 40%</p>
                    <div class="header-action-right d-block d-lg-none">
                        <div class="header-action-2">
                            <div class="header-action-icon-2">
                                <a href="shop-wishlist.html">
                                    <img alt="Evara" src="imgs/theme/icons/icon-heart.svg">
                                    <span class="pro-count white">4</span>
                                </a>
                            </div>
                            <div class="header-action-icon-2">
                                <a class="mini-cart-icon" href="shop-cart.html">
                                    <img alt="Evara" src="imgs/theme/icons/icon-cart.svg">
                                    <span class="pro-count white">2</span>
                                </a>
                                <div class="cart-dropdown-wrap cart-dropdown-hm2">
                                    <ul>
                                        <li>
                                            <div class="shopping-cart-img">
                                                <a href="shop-product-right.html"><img alt="Evara" src="imgs/shop/thumbnail-3.jpg"></a>
                                            </div>
                                            <div class="shopping-cart-title">
                                                <h4><a href="shop-product-right.html">Plain Striola Shirts</a></h4>
                                                <h3><span>1 × </span>$800.00</h3>
                                            </div>
                                            <div class="shopping-cart-delete">
                                                <a href="#"><i class="fi-rs-cross-small"></i></a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="shopping-cart-img">
                                                <a href="shop-product-right.html"><img alt="Evara" src="imgs/shop/thumbnail-4.jpg"></a>
                                            </div>
                                            <div class="shopping-cart-title">
                                                <h4><a href="shop-product-right.html">Macbook Pro 2022</a></h4>
                                                <h3><span>1 × </span>$3500.00</h3>
                                            </div>
                                            <div class="shopping-cart-delete">
                                                <a href="#"><i class="fi-rs-cross-small"></i></a>
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="shopping-cart-footer">
                                        <div class="shopping-cart-total">
                                            <h4>Total <span>$383.00</span></h4>
                                        </div>
                                        <div class="shopping-cart-button">
                                            <a href="shop-cart.html">View cart</a>
                                            <a href="shop-checkout.html">Checkout</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="header-action-icon-2 d-block d-lg-none">
                                <div class="burger-icon burger-icon-white">
                                    <span class="burger-icon-top"></span>
                                    <span class="burger-icon-mid"></span>
                                    <span class="burger-icon-bottom"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="mobile-header-active mobile-header-wrapper-style">
        <div class="mobile-header-wrapper-inner">
            <div class="mobile-header-top">
                <div class="mobile-header-logo">
                    <a href="index.html"><img src="imgs/theme/logo.svg" alt="logo"></a>
                </div>
                <div class="mobile-menu-close close-style-wrap close-style-position-inherit">
                    <button class="close-style search-close">
                        <i class="icon-top"></i>
                        <i class="icon-bottom"></i>
                    </button>
                </div>
            </div>
            <div class="mobile-header-content-area">
                <div class="mobile-search search-style-3 mobile-header-border">
                    <form action="#">
                        <input type="text" placeholder="Search for items…">
                        <button type="submit"><i class="fi-rs-search"></i></button>
                    </form>
                </div>
                <div class="mobile-menu-wrap mobile-header-border">
                    <div class="main-categori-wrap mobile-header-border">
                        <a class="categori-button-active-2" href="#">
                            <span class="fi-rs-apps"></span> Browse Categories
                        </a>
                   
                    </div>
                    <!-- mobile menu start -->
                    <nav>
                        <ul class="mobile-menu">
                            <li class="menu-item-has-children"><a href="index.html">Home</a>
                               
                            </li>
                            <li class="menu-item-has-children"><span class="menu-expand"></span><a href="shop-grid-right.html">shop</a>
                                <ul class="dropdown">
                                    <li><a href="shop-grid-right.html">Shop Grid – Right Sidebar</a></li>
                                    <li><a href="shop-grid-left.html">Shop Grid – Left Sidebar</a></li>
                                    <li><a href="shop-list-right.html">Shop List – Right Sidebar</a></li>
                                    <li><a href="shop-list-left.html">Shop List – Left Sidebar</a></li>
                                    <li><a href="shop-fullwidth.html">Shop - Wide</a></li>
                                    <li class="menu-item-has-children"><span class="menu-expand"></span><a href="#">Single Product</a>
                                        <ul class="dropdown">
                                            <li><a href="shop-product-right.html">Product – Right Sidebar</a></li>
                                            <li><a href="shop-product-left.html">Product – Left Sidebar</a></li>
                                            <li><a href="shop-product-full.html">Product – No sidebar</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="shop-filter.html">Shop – Filter</a></li>
                                    <li><a href="shop-wishlist.html">Shop – Wishlist</a></li>
                                    <li><a href="shop-cart.html">Shop – Cart</a></li>
                                    <li><a href="shop-checkout.html">Shop – Checkout</a></li>
                                    <li><a href="shop-compare.html">Shop – Compare</a></li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children"><span class="menu-expand"></span><a href="#">Mega menu</a>
                                <ul class="dropdown">
                                    <li class="menu-item-has-children"><span class="menu-expand"></span><a href="#">Women's Fashion</a>
                                        <ul class="dropdown">
                                            <li><a href="shop-product-right.html">Dresses</a></li>
                                            <li><a href="shop-product-right.html">Blouses & Shirts</a></li>
                                            <li><a href="shop-product-right.html">Hoodies & Sweatshirts</a></li>
                                            <li><a href="shop-product-right.html">Women's Sets</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item-has-children"><span class="menu-expand"></span><a href="#">Men's Fashion</a>
                                        <ul class="dropdown">
                                            <li><a href="shop-product-right.html">Jackets</a></li>
                                            <li><a href="shop-product-right.html">Casual Faux Leather</a></li>
                                            <li><a href="shop-product-right.html">Genuine Leather</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item-has-children"><span class="menu-expand"></span><a href="#">Technology</a>
                                        <ul class="dropdown">
                                            <li><a href="shop-product-right.html">Gaming Laptops</a></li>
                                            <li><a href="shop-product-right.html">Ultraslim Laptops</a></li>
                                            <li><a href="shop-product-right.html">Tablets</a></li>
                                            <li><a href="shop-product-right.html">Laptop Accessories</a></li>
                                            <li><a href="shop-product-right.html">Tablet Accessories</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children"><span class="menu-expand"></span><a href="blog-category-fullwidth.html">Blog</a>
                                <ul class="dropdown">
                                    <li><a href="blog-category-grid.html">Blog Category Grid</a></li>
                                    <li><a href="blog-category-list.html">Blog Category List</a></li>
                                    <li><a href="blog-category-big.html">Blog Category Big</a></li>
                                    <li><a href="blog-category-fullwidth.html">Blog Category Wide</a></li>
                                    <li class="menu-item-has-children"><span class="menu-expand"></span><a href="#">Single Product Layout</a>
                                        <ul class="dropdown">
                                            <li><a href="blog-post-left.html">Left Sidebar</a></li>
                                            <li><a href="blog-post-right.html">Right Sidebar</a></li>
                                            <li><a href="blog-post-fullwidth.html">No Sidebar</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children"><span class="menu-expand"></span><a href="#">Pages</a>
                                <ul class="dropdown">
                                    <li><a href="page-about.html">About Us</a></li>
                                    <li><a href="page-contact.html">Contact</a></li>
                                    <li><a href="page-account.html">My Account</a></li>
                                    <li><a href="page-login-register.html">login/register</a></li>
                                    <li><a href="page-purchase-guide.html">Purchase Guide</a></li>
                                    <li><a href="page-privacy-policy.html">Privacy Policy</a></li>
                                    <li><a href="page-terms.html">Terms of Service</a></li>
                                    <li><a href="page-404.html">404 Page</a></li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children"><span class="menu-expand"></span><a href="#">Language</a>
                                <ul class="dropdown">
                                    <li><a href="#">English</a></li>
                                    <li><a href="#">French</a></li>
                                    <li><a href="#">German</a></li>
                                    <li><a href="#">Spanish</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                    <!-- mobile menu end -->
                </div>
                <div class="mobile-header-info-wrap mobile-header-border">
                    <div class="single-mobile-header-info mt-30">
                        <a  href="page-contact.html"> Our location </a>
                    </div>
                    <div class="single-mobile-header-info">
                        <a href="page-login-register.html">Log In / Sign Up </a>
                    </div>
                    <div class="single-mobile-header-info">
                        <a href="#">(+01) - 2345 - 6789 </a>
                    </div>
                </div>
                <div class="mobile-social-icon">
                    <h5 class="mb-15 text-grey-4">Follow Us</h5>
                    <a href="#"><img src="imgs/theme/icons/icon-facebook.svg" alt=""></a>
                    <a href="#"><img src="imgs/theme/icons/icon-twitter.svg" alt=""></a>
                    <a href="#"><img src="imgs/theme/icons/icon-instagram.svg" alt=""></a>
                    <a href="#"><img src="imgs/theme/icons/icon-pinterest.svg" alt=""></a>
                    <a href="#"><img src="imgs/theme/icons/icon-youtube.svg" alt=""></a>
                </div>
            </div>
        </div>
    </div>
    <main class="main">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="index.html" rel="nofollow">Home</a>
                    <span></span> Shop
                    <span></span> Wishlist
                </div>
            </div>
        </div>
       
        <section class="mt-50 mb-50">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="table-responsive">
                            <table class="table shopping-summery text-center">
                                <thead>
                                    
                                    <tr class="main-heading">
                                       
                                      
                                          
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    <ul>
                                      
                                            
                                            <table>
                                              <thead>
                                                <tr>
                                                    <!-- <% userOrders.forEach(order => { %>
                                                    <div class="address-box">
                                                        <h4>Shipping Address</h4>
                                                        <p><strong>Name:</strong> <%= order.user.FullName %></p>
                                                        <p><strong>Email:</strong> <%= order.user.email %></p>
                                                        <p><strong>Phone:</strong> <%= order.user.Phone %></p>
                                                        <p><strong>Pincode:</strong> <%= order.user.Pincode %></p>
                                                        </div>
                                                        <% }); %> -->
                                                </tr>
                                              </thead>
                                              <tbody>
                                               
                                            </table>
                                            
                                            <div>
                                                <!-- Sorting dropdown -->
                                                <label for="sortBy">Sort by:</label>
                                                <select id="sortBy" onchange="updateOrders()">
                                                  <option value="latest" <% if (sortBy === 'latest') { %>selected<% } %>>Latest</option>
                                                  <option value="oldest" <% if (sortBy === 'oldest') { %>selected<% } %>>Oldest</option>
                                                </select>
                                              
                                                <!-- Status filter dropdown -->
                                                <label for="statusFilter">Status:</label>
                                                <select id="statusFilter" onchange="updateOrders()">
                                                    <option value="all" <% if (statusFilter === 'all') { %>selected<% } %>>All</option>
                                                    <option value="ending" <% if (statusFilter === 'Pending') { %>selected<% } %>>Pending</option>
                                                    <option value="delivered" <% if (statusFilter === 'delivered') { %>selected<% } %>>Delivered</option>
                                                  <option value="packed" <% if (statusFilter === 'packed') { %>selected<% } %>>Packed</option>
                                                  <option value="shipped" <% if (statusFilter === 'shipped') { %>selected<% } %>>Shipped</option>
                                                  <option value="approved" <% if (statusFilter === 'approved'){ %>selected<% } %>>Approved</option>
                                                  <option value="canceled" <% if (statusFilter === 'canceled') { %>selected<% } %>>Canceled</option>
                                                </select>
                                              </div>
                                              
                                            <table class="table shopping-summery text-center">
                                                <thead>
                                                  <tr class="main-heading">
                                                    <th scope="col">OrderID</th>
                                                    <th scope="col">Order Date</th>
                                                    <th scope="col">Total Price</th>
                                                    <th scope="col">Status</th>
                                                    <th scope="col">Action</th>
                                                    <th scope="col">More</th>
                                                  </tr>
                                                </thead>
                                                <tbody>
                                                  <% userOrders.forEach(order => { %>
                                                    <tr  <% if (order.paymentMethod === 'razorpay' && !order.paid) { %>
                                                        style=" background-color: rgba(167, 13, 42, 0.05);"
                                                        
                                                    <% } %>
                                                >
                                                        
                                                        <td><%= order.orderId ? order.orderId : order._id %></td> 
                                                      <td> <% const orderDate = new Date(order.orderDate); %>
                                                        <%= orderDate.toLocaleString('en-US', {
                                                          timeZone: 'Asia/Kolkata',
                                                          month: 'long',
                                                          day: 'numeric',
                                                          weekday: 'long',
                                                          hour: '2-digit',
                                                          minute: '2-digit',
                                                        }) %></td>
                                                      <td> ₹<%= order.totalPrice %></td>
                                                      <td>
                                                        <%= order.status %>
                                                        <div class="progress">
                                                          <% if (order.status === 'pending') { %>
                                                            <div class="progress-bar bg-info" style="width: 20%"></div>
                                                          <% } else if (order.status === 'approved') { %>
                                                            <div class="progress-bar bg-warning" style="width: 40%"></div>
                                                          <% } else if (order.status === 'packed') { %>
                                                            <div class="progress-bar bg-primary" style="width: 60%"></div>
                                                          <% } else if (order.status === 'shipped') { %>
                                                            <div class="progress-bar bg-success" style="width: 80%"></div>
                                                          <% } else if (order.status === 'delivered') { %>
                                                            <div class="progress-bar bg-success" style="width: 100%"></div>
                                                          <% } else if (order.status === 'canceled' || order.status === 'returned') { %>
                                                            <div class="progress-bar bg-danger" style="width: 100%"></div>
                                                          <% } %>
                                                        </div>
                                                      </td>
                                                      <td>
                                                        <% if (order.returned && order.status === 'refunded') { %>
                                                            <!-- Display text in green color indicating refunded and returned -->
                                                            <p style="color: green;">Refunded On<br>
                                                                <% if (order.refundDate) { %>
                                                                    <% const refundDate = new Date(order.refundDate); %>
                                                                    <%= refundDate.toLocaleString('en-US', {
                                                                        weekday: 'long',
                                                                        year: 'numeric',
                                                                        month: 'long',
                                                                        day: 'numeric'
                                                                    }) %>
                                                                <% } else { %>
                                                                    <!-- Handle the case when refundDate is not available -->
                                                                    No refund date available
                                                                <% } %>
                                                            </p>
                                                        <% } else if (order.returned && order.status !== 'refunded') { %>
                                                            <!-- Display text in blue color indicating return requested and awaiting approval -->
                                                            <p style="color: blue;">Return Requested<br>
                                                                <% if (order.returnRequestDate) { %>
                                                                    <% const returnRequestDate = new Date(order.returnRequestDate); %>
                                                                    <%= returnRequestDate.toLocaleString('en-US', {
                                                                        weekday: 'long',
                                                                        year: 'numeric',
                                                                        month: 'long',
                                                                        day: 'numeric'
                                                                    }) %>
                                                                <% } else { %>
                                                                    <!-- Handle the case when returnRequestDate is not available -->
                                                                    No return request date available
                                                                <% } %>
                                                            </p>
                                                        <% } else if (order.status === 'delivered') { %>
                                                            <!-- Show a "Return" button if the order is delivered and paymentMethod is not razorpay or is razorpay but paid is true-->
                                                            <% if (order.paymentMethod !== 'razorpay' || (order.paymentMethod === 'razorpay' && order.paid)) { %>
                                                                <button style="width: 100px;height: 40px;border: none;background-color: #0bd035;border-radius: 10px;color: white;font-weight: 700;"
                                                                onclick="initiateReturnRequest('<%= order._id %>')" 
                                                              >
                                                                Return Order
                                                              </button>
                                                            <% } %>
                                                        <% } else if (order.status === 'canceled' && !order.delivered) { %>
                                                            <!-- Show a disabled "Canceled" button if the order is canceled and not delivered -->
                                                            <form method="post">
                                                                <button style="background-color: transparent;color: black;font-size: 8px;border: none;pointer-events: none;font-weight: 600;" disabled type="submit">Canceled On<br>
                                                                    <% if (order.cancellationDate) { %>
                                                                        <% const cancellationDate = new Date(order.cancellationDate); %>
                                                                        <%= cancellationDate.toLocaleString('en-US', {
                                                                            weekday: 'long',
                                                                            year: 'numeric',
                                                                            month: 'long',
                                                                            day: 'numeric'
                                                                        }) %>
                                                                    <% } else { %>
                                                                        <!-- Handle the case when cancellationDate is not available -->
                                                                        No cancellation date available
                                                                    <% } %>
                                                                </button>
                                                            </form>
                                                        <% } else { %>
                                                            <!-- Default case: show "Cancel" button if not delivered or already canceled and paymentMethod is not razorpay or is razorpay but paid is true-->
                                                            <% if (order.paymentMethod !== 'razorpay' || (order.paymentMethod === 'razorpay' && order.paid)) { %>
                                                                <button style="width: 100px;height: 40px;border: none;background-color: #d00b0b;border-radius: 10px;color: white;font-weight: 700;"
                                                                onclick="initiateCancelOrder('<%= order._id %>')" 
                                                              >
                                                                Cancel Order
                                                              </button>
                                                            <% } %>
                                                        <% } %>
                                                        
                                                        
                                                          
                                                          

                                                      </td>
                                                      <td>
                                                        
                                                        <button style="background-color: #2ed8b6;border: none;color: white;height: 40px;border-radius: 10px;font-weight: 6000;" onclick="moredetailorder('<%= order.user.FullName %>', '<%= order.user.HouseName %>','<%= order.user.Phone%>','<%= order.user.Pincode%>','<%=order.totalPrice%>','<%=order.paymentMethod %>','<%=order.Addresschoose %>','<%=order.user.CustName %>','<%=order.user.PhoneNum %>','<%=order.user.Zipcode %>','<%=order.user.companyName %>')">More Details</button>

                                                      </td>
                                                      
                                                      
                                                    </tr>
                                                  <% }); %>
                                                </tbody>
                                                
                                              </table>
                                              
                            
                        </div>
                    </div><div class="pagination">
                        <% if (currentPage > 1) { %>
                          <a href="?page=<%= currentPage - 1 %>">Previous</a>
                        <% } %>
                      
                        <% for (let i = 1; i <= pages; i++) { %>
                          <a href="?page=<%= i %>" <%= i === currentPage ? 'class="active"' : '' %>><%= i %></a>
                        <% } %>
                      
                        <% if (currentPage < pages) { %>
                          <a href="?page=<%= currentPage + 1 %>">Next</a>
                        <% } %>
                      </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="main">
        <section class="newsletter p-30 text-white wow fadeIn animated">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-7 mb-md-3 mb-lg-0">
                        <div class="row align-items-center">
                            <div class="col flex-horizontal-center">
                                <img class="icon-email" src="imgs/theme/icons/icon-email.svg" alt="">
                                <h4 class="font-size-20 mb-0 ml-3">Sign up to Newsletter</h4>
                            </div>
                            <div class="col my-4 my-md-0 des">
                                <h5 class="font-size-15 ml-4 mb-0">...and receive <strong>$25 coupon for first shopping.</strong></h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <!-- Subscribe Form -->
                        <form class="form-subcriber d-flex wow fadeIn animated">
                            <input type="email" class="form-control bg-white font-small" placeholder="Enter your email">
                            <button class="btn bg-dark text-white" type="submit">Subscribe</button>
                        </form>
                        <!-- End Subscribe Form -->
                    </div>
                </div>
            </div>
        </section>
        <section class="section-padding footer-mid">
            <div class="container pt-15 pb-20">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="widget-about font-md mb-md-5 mb-lg-0">
                            <div class="logo logo-width-1 wow fadeIn animated">
                                <a href="index.html"><img src="imgs/theme/logo.svg" alt="logo"></a>
                            </div>
                            <h5 class="mt-20 mb-10 fw-600 text-grey-4 wow fadeIn animated">Contact</h5>
                            <p class="wow fadeIn animated">
                                <strong>Address: </strong>562 Wellington Road, Street 32, San Francisco
                            </p>
                            <p class="wow fadeIn animated">
                                <strong>Phone: </strong>+01 2222 365 /(+91) 01 2345 6789
                            </p>
                            <p class="wow fadeIn animated">
                                <strong>Hours: </strong>10:00 - 18:00, Mon - Sat
                            </p>
                            <h5 class="mb-10 mt-30 fw-600 text-grey-4 wow fadeIn animated">Follow Us</h5>
                            <div class="mobile-social-icon wow fadeIn animated mb-sm-5 mb-md-0">
                                <a href="#"><img src="imgs/theme/icons/icon-facebook.svg" alt=""></a>
                                <a href="#"><img src="imgs/theme/icons/icon-twitter.svg" alt=""></a>
                                <a href="#"><img src="imgs/theme/icons/icon-instagram.svg" alt=""></a>
                                <a href="#"><img src="imgs/theme/icons/icon-pinterest.svg" alt=""></a>
                                <a href="#"><img src="imgs/theme/icons/icon-youtube.svg" alt=""></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3">
                        <h5 class="widget-title wow fadeIn animated">About</h5>
                        <ul class="footer-list wow fadeIn animated mb-sm-5 mb-md-0">
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Delivery Information</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Terms &amp; Conditions</a></li>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Support Center</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-2  col-md-3">
                        <h5 class="widget-title wow fadeIn animated">My Account</h5>
                        <ul class="footer-list wow fadeIn animated">
                            <li><a href="#">Sign In</a></li>
                            <li><a href="#">View Cart</a></li>
                            <li><a href="#">My Wishlist</a></li>
                            <li><a href="#">Track My Order</a></li>
                            <li><a href="#">Help</a></li>
                            <li><a href="#">Order</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-4">
                        <h5 class="widget-title wow fadeIn animated">Install App</h5>
                        <div class="row">
                            <div class="col-md-8 col-lg-12">
                                <p class="wow fadeIn animated">From App Store or Google Play</p>
                                <div class="download-app wow fadeIn animated">
                                    <a href="#" class="hover-up mb-sm-4 mb-lg-0"><img class="active" src="imgs/theme/app-store.jpg" alt=""></a>
                                    <a href="#" class="hover-up"><img src="imgs/theme/google-play.jpg" alt=""></a>
                                </div>
                            </div>
                            <div class="col-md-4 col-lg-12 mt-md-3 mt-lg-0">
                                <p class="mb-20 wow fadeIn animated">Secured Payment Gateways</p>
                                <img class="wow fadeIn animated" src="imgs/theme/payment-method.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="container pb-20 wow fadeIn animated">
            <div class="row">
                <div class="col-12 mb-20">
                    <div class="footer-bottom"></div>
                </div>
                <div class="col-lg-6">
                    <p class="float-md-left font-sm text-muted mb-0">&copy; 2022, <strong class="text-brand">Evara</strong> - HTML Ecommerce Template </p>
                </div>
                <div class="col-lg-6">
                    <p class="text-lg-end text-start font-sm text-muted mb-0">
                        Designed by <a href="http://alithemes.com" target="_blank">Alithemes.com</a>. All rights reserved
                    </p>
                </div>
            </div>
        </div>
    </footer>
    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="text-center">
                    <h5 class="mb-5">Now Loading</h5>
                    <div class="loader">
                        <div class="bar bar1"></div>
                        <div class="bar bar2"></div>
                        <div class="bar bar3"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Vendor JS-->
    <style>
         .stretch-card>.card {
     width: 100%;
     min-width: 100%
 }

 body {
     background-color: #f9f9fa
 }

 .flex {
     -webkit-box-flex: 1;
     -ms-flex: 1 1 auto;
     flex: 1 1 auto
 }

 @media (max-width:991.98px) {
     .padding {
         padding: 1.5rem
     }
 }

 @media (max-width:767.98px) {
     .padding {
         padding: 1rem
     }
 }

 .padding {
     padding: 3rem
 }
 
 .card {
     box-shadow: none;
     -webkit-box-shadow: none;
     -moz-box-shadow: none;
     -ms-box-shadow: none
 }

 .card {
     position: relative;
     display: flex;
     flex-direction: column;
     min-width: 0;
     word-wrap: break-word;
     background-color: #fff;
     background-clip: border-box;
     
     border-radius: 0;
 }
 
 .card .card-block {
    padding: 1.25rem;
}

h6 {
    font-size: 16px !important;
}

.text-c-green {
    color: #2ed8b6;
}

.m-l-10 {
    margin-left: 10px;
}

.proj-progress-card .progress {
    height: 6px;
    overflow: visible;
    margin-bottom: 10px;
}

.proj-progress-card .progress .progress-bar {
    position: relative;
}

.progress .progress-bar {
    height: 100%;
    color: inherit;
}

.bg-c-red {
    background: #FF5370;
}

.proj-progress-card .progress .progress-bar.bg-c-red:after {
    border: 3px solid #FF5370;
}

.proj-progress-card .progress .progress-bar:after {
    content: "";
    background: #fff;
    position: absolute;
    right: -6px;
    top: -4px;
    border-radius: 50%;
    width: 150px;
    height: 15px;
}

.bg-c-blue {
    background: #4099ff;
}

.proj-progress-card .progress .progress-bar.bg-c-blue:after {
    border: 3px solid #4099ff;
}

.proj-progress-card .progress .progress-bar.bg-c-green:after {
    border: 3px solid #2ed8b6;
}

.bg-c-green {
    background: #2ed8b6;
}

.bg-c-yellow {
    background: #FFB64D;
}

.proj-progress-card .progress .progress-bar.bg-c-yellow:after {
    border: 3px solid #FFB64D;
}

.m-b-30 {
    margin-bottom: 30px;
}

.text-c-red {
    color: #FF5370;
}





    </style>
    <style>
        /* Style for the container holding the dropdowns */
    
        /* Style for the labels */
        label {
          margin-right: 10px;
        }
      
        /* Style for the dropdowns */
        select {
          padding: 8px;
          font-size: 14px;
        }
      </style>
      
    <script>
function moredetailorder(name, house, phone, pin, total, method, addressset, name2, house2, phone2, pincode2) {
  let detailsHtml;

  if (addressset === 'addressSet2') {
    detailsHtml = `
      <div style="width: 400px; overflow: hidden;">
        <p>Customer Name: ${name2}</p>
        <p>House Name: ${house2}</p>
        <p>Phone: ${phone2}</p>
        <p>Pincode: ${pincode2}</p>
      </div>`;
  } else {
    detailsHtml = `
      <div style="width: 400px; overflow: hidden;">
        <p>Customer Name: ${name}</p>
        <p>House Name: ${house}</p>
        <p>Phone: ${phone}</p>
        <p>Pincode: ${pin}</p>
      </div>`;
  }

  Swal.fire({
    title: 'Shipping Details',
    html: `
      ${detailsHtml}
      <p>Total: ₹${total}</p>
      <p>Payment Method: ${method}</p>
    `,
    confirmButtonText: 'OK'
  });
}


    </script>
    <script src="/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="/js/vendor/jquery-migrate-3.3.0.min.js"></script>
    <script src="/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="/js/plugins/slick.js"></script>
    <script src="/js/plugins/jquery.syotimer.min.js"></script>
    <script src="/js/plugins/wow.js"></script>
    <script src="/js/plugins/jquery-ui.js"></script>
    <script src="/js/plugins/perfect-scrollbar.js"></script>
    <script src="/js/plugins/magnific-popup.js"></script>
    <script src="/js/plugins/select2.min.js"></script>
    <script src="/js/plugins/waypoints.js"></script>
    <script src="/js/plugins/counterup.js"></script>
    <script src="/js/plugins/jquery.countdown.min.js"></script>
    <script src="/js/plugins/images-loaded.js"></script>
    <script src="/js/plugins/isotope.js"></script>
    <script src="/js/plugins/scrollup.js"></script>
    <script src="/js/plugins/jquery.vticker-min.js"></script>
    <!-- Template  JS -->
    <script src="/js/main.js?v=3.4"></script>
    <script src="/js/shop.js?v=3.4"></script>
    <script>
       async function initiateReturnRequest(orderId) {
  // You can perform any additional logic here before initiating the return request
  // For example, show a confirmation SweetAlert
  const isConfirmed = await Swal.fire({
    title: 'Are you sure?',
    text: 'You want to return this order?',
    icon: 'warning',
    showCancelButton: true,
    confirmButtonColor: '#3085d6',
    cancelButtonColor: '#d33',
    confirmButtonText: 'Yes, return it!'
  });

  if (!isConfirmed.isConfirmed) {
    // Do nothing if the user cancels the confirmation
    return;
  }

  try {
    // Use the Fetch API to send a POST request to initiate the return
    const response = await fetch(`/ordersadmin/return?orderNo=${orderId}`, {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      // You can include a request body if needed
      // body: JSON.stringify({ key: 'value' }),
    });

    if (response.ok) {
      // Optionally, you can show a success SweetAlert or perform additional actions
      await Swal.fire('Return request submitted successfully', '', 'success');
    } else {
      // Handle the error response
      const errorMessage = await response.text();
      await Swal.fire(`Failed to submit return request: ${errorMessage}`, '', 'error');
    }
  } catch (error) {
    console.error(error);
    await Swal.fire('Failed to submit return request', '', 'error');
  }
}
async function initiateCancelOrder(orderId) {
    // You can perform any additional logic here before initiating the cancellation
    // For example, show a confirmation SweetAlert
    const isConfirmed = await Swal.fire({
      title: 'Are you sure?',
      text: 'You want to cancel this order?',
      icon: 'warning',
      showCancelButton: true,
      confirmButtonColor: '#3085d6',
      cancelButtonColor: '#d33',
      confirmButtonText: 'Yes, cancel it!'
    });

    if (!isConfirmed.isConfirmed) {
      // Do nothing if the user cancels the confirmation
      return;
    }

    try {
      // Use the Fetch API to send a POST request to cancel the order
      const response = await fetch(`/ordersadmin/cancel?orderNo=${orderId}`, {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        // You can include a request body if needed
        // body: JSON.stringify({ key: 'value' }),
      });

      if (response.ok) {
        // Optionally, you can show a success SweetAlert or perform additional actions
        await Swal.fire({
  title: "Request Submitted Succesfully",
  text: "refund initiated and will credit to your wallet very soon!",
  
});
      } else {
        // Handle the error response
        const errorMessage = await response.text();
        await Swal.fire(`Failed to cancel order: ${errorMessage}`, '', 'error');
      }
    } catch (error) {
      console.error(error);
      await Swal.fire('Failed to cancel order', '', 'error');
    }
  }
      </script>
      <script>
        // JavaScript function to update orders based on sorting and filtering options
        function updateOrders() {
          const sortBy = document.getElementById('sortBy').value;
          const statusFilter = document.getElementById('statusFilter').value;
      
          // Redirect to the updated URL with the selected options
          window.location.href = `?page=${<%= currentPage %>}&sortBy=${sortBy}&status=${statusFilter}`;
        }
      </script> 
</body>

</html>





 