<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Evara Dashboard</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <!-- Font Awesome -->
    <!-- MDB -->
<script
type="text/javascript"
src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.2/mdb.min.js"
></script>
<link
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
rel="stylesheet"
/>
<!-- Google Fonts -->
<link
href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
rel="stylesheet"
/>
<!-- MDB -->
<link
href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.2/mdb.min.css"
rel="stylesheet"
/>
    <link rel="shortcut icon" type="image/x-icon" href="assets/imgs/theme/favicon.svg">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="path-to-sweetalert2.min.css">
    <script src="path-to-sweetalert2.all.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <!-- Template CSS -->
    <link href="/admin/css/main.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="screen-overlay"></div>
    <aside class="navbar-aside" id="offcanvas_aside">
      <div class="aside-top">
          <a href="index.html" class="brand-wrap">
              <img src="/imgs/logo.png" class="logo" alt="Evara Dashboard">
          </a>
          <div>
              <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i> </button>
          </div>
      </div>
      <nav>
          <ul class="menu-aside">
              <li class="menu-item active">
                  <a class="menu-link" href="/adminDash"> <i class="icon material-icons md-home"></i>
                      <span class="text">Dashboard</span>
                  </a>
              </li>
              <li class="menu-item has-submenu">
                  <a class="menu-link" href="/admin/products"> <i class="icon material-icons md-shopping_bag"></i>
                      <span class="text">Products</span>
                  </a>
                  <div class="submenu">
                      <a href="/adminAddProduct">Add products</a>
                      <a id="search-link" href="/admin/products">Product Edit and Delete</a>

                   
                  </div>
                  
              </li>
              <li class="menu-item has-submenu">
                  <a class="menu-link" href="page-orders-1.html"> <i class="icon material-icons md-shopping_cart"></i>
                      <span class="text">Orders</span>
                  </a>
                  <div class="submenu">
                      <a href="page-orders-1.html"></a>
                      
<a href="page-invoice.html">Invoice</a>
                  </div>
              </li>
              <li class="menu-item has-submenu">
                  <a class="menu-link" href="/admin/userManager"> <i class="icon material-icons md-store"></i>
                      <span class="text">Users</span>
                  </a>
                  <div class="submenu">
                      <a href="/admin/userManager">Block/UnBlock Users</a>
                     
                  </div>
              </li>
              <li class="menu-item has-submenu">
                  <a class="menu-link" href="/category"> <i class="icon material-icons md-add_box"></i>
                      <span class="text">Categories</span>
                  </a>
                  <div class="submenu">
                      <a href="/category">Manage Categories</a>
                     
                  </div>
              </li>
              <li class="menu-item has-submenu">
                  <a class="menu-link" href="page-transactions-1.html"> <i class="icon material-icons md-monetization_on"></i>
                      <span class="text">Transactions</span>
                  </a>
                  <div class="submenu">
                      <a href="page-transactions-1.html">Transaction 1</a>
                      <a href="page-transactions-2.html">Transaction 2</a>
                      <a href="page-transactions-details.html">Transaction Details</a>
                  </div>
              </li>
              <li class="menu-item has-submenu">
                  <a class="menu-link" href="#"> <i class="icon material-icons md-person"></i>
                      <span class="text">Account</span>
                  </a>
                  <div class="submenu">
                      <a href="page-account-login.html">User login</a>
                      <a href="page-account-register.html">User registration</a>
                      <a href="page-error-404.html">Error 404</a>
                  </div>
              </li>
              <li class="menu-item">
                  <a class="menu-link" href="page-reviews.html"> <i class="icon material-icons md-comment"></i>
                      <span class="text">Reviews</span>
                  </a>
              </li>
              <li class="menu-item">
                  <a class="menu-link" href="admin/userManager"> <i class="icon material-icons md-stars"></i>
                      <span class="text">Brands</span> </a>
              </li>
              <li class="menu-item">
                  <a class="menu-link" disabled href="#"> <i class="icon material-icons md-pie_chart"></i>
                      <span class="text">Statistics</span>
                  </a>
              </li>
          </ul>
          <hr>
          <ul class="menu-aside">
              <li class="menu-item has-submenu">
                  <a class="menu-link" href="#"> <i class="icon material-icons md-settings"></i>
                      <span class="text">Settings</span>
                  </a>
                  <div class="submenu">
                      <a href="page-settings-1.html">Setting sample 1</a>
                      <a href="page-settings-2.html">Setting sample 2</a>
                  </div>
              </li>
              <li class="menu-item">
                  <a class="menu-link" href="/logoutAdmin"><svg xmlns="http://www.w3.org/2000/svg" fill="grey" height="1.6em" viewBox="0 0 640 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M208 96a48 48 0 1 0 0-96 48 48 0 1 0 0 96zM123.7 200.5c1-.4 1.9-.8 2.9-1.2l-16.9 63.5c-5.6 21.1-.1 43.6 14.7 59.7l70.7 77.1 22 88.1c4.3 17.1 21.7 27.6 38.8 23.3s27.6-21.7 23.3-38.8l-23-92.1c-1.9-7.8-5.8-14.9-11.2-20.8l-49.5-54 19.3-65.5 9.6 23c4.4 10.6 12.5 19.3 22.8 24.5l26.7 13.3c15.8 7.9 35 1.5 42.9-14.3s1.5-35-14.3-42.9L281 232.7l-15.3-36.8C248.5 154.8 208.3 128 163.7 128c-22.8 0-45.3 4.8-66.1 14l-8 3.5c-32.9 14.6-58.1 42.4-69.4 76.5l-2.6 7.8c-5.6 16.8 3.5 34.9 20.2 40.5s34.9-3.5 40.5-20.2l2.6-7.8c5.7-17.1 18.3-30.9 34.7-38.2l8-3.5zm-30 135.1L68.7 398 9.4 457.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L116.3 441c4.6-4.6 8.2-10.1 10.6-16.1l14.5-36.2-40.7-44.4c-2.5-2.7-4.8-5.6-7-8.6zM550.6 153.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L530.7 224H384c-17.7 0-32 14.3-32 32s14.3 32 32 32H530.7l-25.4 25.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l80-80c12.5-12.5 12.5-32.8 0-45.3l-80-80z"/></svg>&nbsp;
                      <span class="text"> Logout</span>
                  </a>
              </li>
          </ul>
          <br>
          <br>
      </nav>
  </aside>
    <main class="main-wrap">
        <header class="main-header navbar">
            <div class="col-search">
               
            </div>
        
        </header>
        <section class="content-main">
           
            <div class="card mb-4">
                <header class="card-header">
                    <div class="row gx-3">
                      
                      <div class="input-group mb-3">
                        <input type="text" id="searchInput" name="search" style="border-radius: 10px; border: 1px solid green;height: 40px;" class="form-control" value="<%= searchQuery %>" placeholder="Search a User" />
                       
                        <button onclick="searchUsers()" class="btn btn-success "style="float:right; border-radius:10px;margin-top:10px" type="button">
                          <i class="fas fa-search"></i>
                        </button>
                      </div>
                      
                      
        </div>
                </header> <!-- card-header end// -->
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Username</th>
                                    <th>Email</th>
                                    <th>Action</th>
                                   
                                    </tr>
                            </thead>
                            <tbody>
                             


                                <div class="user-list">
                              <% users.forEach(user => { %>
                                <tr>
                                    <td width="60%">
                                        <a href="#" class="itemside">
                                            <div class="left">
                                                <img src="https://cdn-icons-png.flaticon.com/512/5951/5951752.png" class="img-sm img-avatar" alt="Userpic">
                                            </div>
                                            <div class="info pl-3">
                                                <h6 class="mb-0 title"><%= user.username %></h6>
                                                <small class="text-muted"></small>
                                            </div>
                                        </a>
                                    </td>
                                    <td><%= user.email %> </td>
                                    
                                    <!-- <td class="text-end">
                                        <a href="#" class="btn btn-sm btn-brand rounded font-sm mt-15">View details</a>
                                    </td> -->
                                    <td class="text-end">
                                      <td>
                                        <button  onclick="messageInfo()" class="btn btn-block
                                            <% if (user.isBlocked) { %>
                                                btn-danger unblock
                                            <% } else { %>
                                                btn-success block
                                            <% } %>" title="<%= user.isBlocked ? 'Unblock' : 'Block' %>" data-userid="<%= user._id %>">
                                            <%= user.isBlocked ? 'Unblock' : 'Block' %>
                                        </button>
                                    </td>
                                    
                                    
                                    
                                  </td>
                                  
                                </tr>
                             
                             
                          
                              
                                <% }); %>
                             <!-- Pagination links -->
                           

                            </div>
                       
                              

                              
                            </tbody>
                        </table> <!-- table-responsive.// -->
                    </div>
                 
                </div> <!-- card-body end// -->
            </div> <!-- card end// -->
            <div>
              <ul class="pagination">
                <% for (let i = 1; i <= totalPages; i++) { %>
                  <li class="page-item">
                    <a href="/userManager?page=<%= i %>&search=<%= searchQuery %>"
                       class="page-link <%= i === page ? 'active' : '' %>">
                      <%= i %>
                    </a>
                  </li>
                <% } %>
              </ul>
            </div>
        </section> <!-- content-main end// -->
     
    
        
        
        
        
        
          <script>
           function messageInfo(){
            Swal.fire({
  position: "top-end",
  icon: "success",
  title: "User Updated Successfully",
  showConfirmButton: false,
  timer: 1500
});
           }
  const pageSelect = document.getElementById('pageSelect');

  pageSelect.addEventListener('change', function () {
    const selectedPage = pageSelect.value;
    // Redirect to the selected page, e.g., using window.location.href
    window.location.href = `/userManager?page=${selectedPage}`;
  });


          </script>
        
<style>
 
  .btn{
    width: 100px;
    height: 40px;
  }
th{
  justify-content: space-between;
}
  th:nth-child(1) {
        width: 33%; /* Adjust the width as needed */
    }

    th:nth-child(2) {
        width: 33%; /* Adjust the width as needed */
    }

    th:nth-child(3) {
        width: 33%; /* Adjust the width as needed */
    }


</style>

        <footer class="main-footer font-xs">
            <div class="row pb-30 pt-15">
              
              
            </div>
        </footer>
    </main>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
      $(document).ready(function () {
          // Function to handle the block/unblock action
          function handleBlockUnblock(userId, isBlocked) {
              // Send a POST request to your server to block or unblock the user
              $.post(`/blockUser/${userId}`, function (data) {
 
                  if (data.message === `User ${isBlocked ? 'blocked' : 'unblocked'} successfully.`) {
                      // Update the UI to reflect the change
                      refreshUserTable();
                  } else {
                      alert('An error occurred.');
                  }
              });
          }
  
          // Handle the block/unblock button click
          $(document).on('click', '.block, .unblock', function () {
              const userId = $(this).data('userid');
              const isBlocked = $(this).hasClass('block'); // Determine if the user should be blocked or unblocked
  
              // Confirm the action with the user
              handleBlockUnblock(userId, isBlocked);

          });
  
          // Function to refresh the user table (replace with your actual logic)
          function refreshUserTable() {
              // You can use AJAX or any other method to reload or update the user table
              // For example, you can fetch the latest user data and replace the existing table content
              // Example AJAX request:
              $.get('/fetchUserTable', function (newUserTableHTML) {
                  // Replace the existing user table with the updated HTML
                  $('.table-responsive').html(newUserTableHTML);
              });
          }
      });
  </script>
  <script>
  document.addEventListener("DOMContentLoaded", function () {
    const blockButtons = document.querySelectorAll(".block");
    const unblockButtons = document.querySelectorAll(".unblock");

    blockButtons.forEach(button => {
      button.addEventListener("click", function () {
        const userId = this.getAttribute("data-userid");
        showBlockAlert(userId);
      });
    });

    unblockButtons.forEach(button => {
      button.addEventListener("click", function () {
        const userId = this.getAttribute("data-userid");
        showUnblockAlert(userId);
      });
    });

    function showBlockAlert(userId) {
      Swal.fire({
        icon: "info",
        title: "Block User",
        text: "Are you sure you want to block this user?",
        showCancelButton: true,
        confirmButtonText: "Yes, Block",
        cancelButtonText: "Cancel",
        confirmButtonColor: "#d33",
        cancelButtonColor: "#3085d6",
      }).then((result) => {
        if (result.isConfirmed) {
          // Handle blocking logic here
        }
      });
    }

    function showUnblockAlert(userId) {
      Swal.fire({
        icon: "info",
        title: "Unblock User",
        text: "Are you sure you want to unblock this user?",
        showCancelButton: true,
        confirmButtonText: "Yes, Unblock",
        cancelButtonText: "Cancel",
        confirmButtonColor: "#28a745",
        cancelButtonColor: "#3085d6",
      }).then((result) => {
        if (result.isConfirmed) {
          // Handle unblocking logic here
        }
      });
    }
  });
</script>
<script>
  function searchUsers() {
    const searchInput = document.getElementById('searchInput').value;
    window.location.href = `/userManager?page=1&search=${searchInput}`;
  }
</script>
</body>

</html>